@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>

<p>
        Olá, sejam bem-vindos(as) ao nosso site para favorizar e guardar sugestões de filmes e séries que gostas.
    Somos um trio de mulheres, estudantes de programação, do curso do IEFP/PT.
</p>

<p>
        Esse projeto foi criado por nós, Débora Andrade, Milena Ernesto e Ester Veríssimo,
    como trabalho final da UFCD com o código 3935 de nome Programação em C#.
    Este trabalho foi orientado e analisado pelo formador João Monge.
</p>

<div class="sobre-nos grid text-center">
    <img src="Imagens/mi.jpg" alt="Milena">
    <img src="Imagens/deb.jpg" alt="Milena">
    <img src="Imagens/ester.jpg" alt="Milena">
</div>
